AppDivisas/.vs/
AppDivisas/AppDivisas/AppDivisas.Android/obj/
AppDivisas/AppDivisas/AppDivisas.UWP/obj/
AppDivisas/AppDivisas/AppDivisas/obj/
AppDivisas/AppDivisas/AppDivisas.iOS/obj/
AppDivisas/AppDivisas/AppDivisas.Android/bin/
AppDivisas/AppDivisas/AppDivisas.iOS/bin/
AppDivisas/AppDivisas/AppDivisas.UWP/bin/
AppDivisas/AppDivisas/AppDivisas/bin/
